<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav id="navbar" class="mb-1 navbar navbar-dark bg-primary navbar-expand-lg static-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#" th:href="@{/}">
                Document Archive
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li id="headerMainPage" class="nav-item">
                        <a class="nav-link" th:href="@{/}">
							<span>
								<i class="fas fa-home"></i>
							</span>
                            Main page
                        </a>
                    </li>
                    <li id="headerAbout" class="nav-item">
                        <a class="nav-link" th:href="@{/about}">
							<span>
								<i class="fas fa-info"></i>
							</span>
                            About
                        </a>
                    </li>
                    <li id="headerProfile" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuProfile"
                           data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            Profile
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-info"
                             aria-labelledby="navbarDropdownMenuProfile">
                            <a class="dropdown-item waves-effect waves-light" href="#" th:href="@{/profile/user}"
                               sec:authorize="isAuthenticated()">
                                My account
                            </a>
                            <a class="dropdown-item waves-effect waves-light" href="#" sec:authorize="isAnonymous()">
                                Log in
                            </a>
                            <a class="dropdown-item waves-effect waves-light" href="#"
                               sec:authorize="isAuthenticated()">
                                Log out
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>